#items{	
  margin-top: 60px;
  margin-left: 100px;
}

#all-items{
  margin-left: 40px;
  width: 750px;
  padding-right: 20px;
  position: relative;
  margin:0 auto;
  line-height: 1.4em;
  min-height: 100%;
  overflow-y:scroll;
}

.active-items{
  margin-left: -2.5em;
}

.full-item{
  margin-top: 20px;
  font-family: Pacifico;
  font-size: 2rem;
}

.item-content-1{
  width: auto;
  word-wrap: break-word;
}

.meta-item{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-form{	
  min-width:70%;
  height:50px;
}

.trash{
  cursor: pointer;
}

.white-button{
  color: #9E9E9E;
  font-size: 2em;
}

