.room-numbers{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    background-color:  #757575;
    
    }

.modal-button {
	margin-top: 20px;
	margin-left: 20px;
	background-color: #B71C1C;
    border: 2px;
    border-radius: 50%;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    width: auto;
    height: 3rem;
    
}

.close-modal{
	margin-top: 20px;
	margin-left: 20px;
	background-color: #757575;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

.submit-bttn{
    margin-top: 20px;
	margin-left: 20px;
	background-color: #B71C1C;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}


.rooms-avail{
	line-height: 2.0;
}

.overscroll{
     min-height:101%;

}

#scroll-invalid{
    overflow-y: scroll;
    overflow-x:scroll;
    height: 100px;
    width:30%;
}

.add-room{
    background-color: #B71C1C;
    border: 2px;
    border-radius: 50%;
    color: white;
    padding: 1rem 1.25rem;
    margin-right: .5rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 1rem;
    width: auto;
    height: 3rem; 
}

.remove-room{
   background-color: #B71C1C;
    border: 2px;
    border-radius: 50%;
    color: white;
    padding: 1rem 1.25rem;
    margin-right: .5rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 1rem;
    width: auto;
    height: 3rem; 


}
