#hero-name{
	font-size: 2em;
	margin-left: 10px;
	margin-right: 10px;
	border:solid 2px white;
	border-radius: 50%;
	text-align: center;
}

#all-lists{
	margin-top: 20px;
	margin-left: 10px;
	color:white;
}

.overscroll{
	display: flex;
	flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
	height: 100px;
	font-size: 1.25em;
}

.list-numbers{
	min-width: 200px;
}


.add-list {
	cursor: pointer;
}

.remover-list{
	cursor: pointer;
}

#modal-bttn{
	display: flex;
	flex-direction: column;
}

.nodal-name{
	font-size: 1.15em;
	margin-right: 1em;
	margin-left: 1em;
}

.new-list-form{
	margin-left: 25px;
    border: 1px solid;

}

