.user-LogIn {
	background-color: #B71C1C;
    border: 2px;
    border-radius: 50%;
    color: white;
    padding: 1rem 1.25rem;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-right: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 1rem;
    width: auto;
    height: 3rem; 
}

.user-LogOut{
    background-color: #B71C1C;
    border: 2px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-right: .5rem;
    margin-top: .5rem;
    color: white;
    padding: 1rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: .8rem;
    width: auto;
    height: 3rem; 
    margin-right: 1rem;
}

.user-image{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    width: 8%;
    height: auto;
    border:solid 2px;
    border-radius: 50%;
    justify-content: center;
}


