.App {
  height: 100%;
  text-align: center;


}

.body{
  height: 100%;
}


html, body, #root, .chat-rooms, .room-holder {
    height: 100%;
    font-family: "Pacifico", cursive;
}

li {
list-style-type:none;

}
