.body{
  height: 100%;
}


html, body, #root, #message-container, #pannel,#user-pannel {
  font-family: "Pacifico", cursive;
   height: calc(100vh);
}

li {
  list-style-type:none;
}

#user-pannel{
	background-color: #9E9E9E;
}

.list-numbers{
	background-color: #9E9E9E;
}

#item-container{
	background-color: #EEEEEE;
	width: 50%;
}

#pannel{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.App{
  display: flex;
  flex-direction: row;
}

#item-container{
  display: flex;
}